<ion-header>
  <ion-toolbar>
    <ion-title>Elecciones a gobernador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Gobernador Jalisco 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Gobernador
            Inicio:2019-03-21 00:00:00
            Fin: 2019-04-21 00:00:00
            Ganador: Enrique Alfaro
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Gobernador Aguascalientes 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Gobernador
            Inicio: 2012-03-21 00:00:00
            Fin: 2012-03-21 00:00:00
            Ganador: Martin Orozco Sandoval
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Gobernador Colima 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Gobernador
            Inicio: 2006-03-21 00:00:00
            Fin: 2006-03-21 00:00:00
            Ganador: Jose Ignacio Peralta
          </ion-card-content>
        </ion-card>
      
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Gobernador Monterrey 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Gobernador
            Inicio: 2000-03-21 00:00:00
            Fin: 2000-05-21 00:00:00
            Ganador: Manuel Gomez Flores
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Gobernador Baja California 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Electoral
            Inicio: 1994-03-21 00:00:00
            Fin: 1994-05-21 00:00:00
            Ganador: Francisco Vega
          </ion-card-content>
        </ion-card>
    
      </ion-list>
    

</ion-content>
