<ion-header>
    <ion-toolbar>
      <ion-buttons slot = "start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Elecciones</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header >
        <ion-title align = "center">Elecciones Disponibles</ion-title>
    </ion-card-header>

    <ion-list>
      <ion-button expand = "full" routerLink = "/electioninfo">
        <ion-icon name ="md-arrow-dropright"></ion-icon>
        Elección de gobernador
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
