<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Profile Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
      <img src="../../assets/img/user-logo.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 style="color:#0E78DD;text-align:center;">Ciudadano</h2>
    <ion-list>
      <ion-item>Nombre: {{electoral_key}}</ion-item>
      <ion-item>Clave electoral: {{name}} </ion-item>
      <ion-item>Address: {{address}}</ion-item>
    </ion-list>
</ion-content>
