<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Profile Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
      <img src="../assets/icon/user-logo.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="profileInformation-heading1" style="color:#0E78DD;text-align:center;">Ciudadano</h2>
    <ion-list id="profileInformation-list4">
      <ion-item id="profileInformation-list-item20">Nombre:</ion-item>
      <ion-item id="profileInformation-list-item21">Clave electoral: </ion-item>
      <ion-item id="profileInformation-list-item22">Email:</ion-item>
    </ion-list>
</ion-content>
