<ion-header>
  <ion-toolbar>
    <ion-title>Elecciones Municipales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Municipal Jalisco Acatlan de Juarez 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Municipal
            Inicio:2019-03-21 00:00:00
            Fin: 2019-04-21 00:00:00
            Ganador: Gerardo Uvaldo Ochoa Alvarado
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Municipal Jalisco Ameca 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Municipal
            Inicio: 2012-03-21 00:00:00
            Fin: 2012-03-21 00:00:00
            Ganador: Juan Valentin Serrano Jimenez
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Municipal Jalisco Guadalajara México 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Municipal
            Inicio: 2006-03-21 00:00:00
            Fin: 2006-03-21 00:00:00
            Ganador: Ismael del Toro
          </ion-card-content>
        </ion-card>
      
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Municipal Jalisco La Huerta 2018</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Municipal
            Inicio: 2000-03-21 00:00:00
            Fin: 2000-05-21 00:00:00
            Ganador: Adan Israel Mendoza
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Eleccion</ion-card-subtitle>
            <ion-card-title>Municipal Jalisco El Grullo 1994</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Periodo: 2018
            descripción: Municipal
            Inicio: 1994-03-21 00:00:00
            Fin: 1994-05-21 00:00:00
            Ganador: Monica Marin Buenrostro
          </ion-card-content>
        </ion-card>
    
      </ion-list>

</ion-content>
