<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Busqueda de elecciones" animated color="dark" type="ion-searchbar">
      
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Eleccion</ion-card-subtitle>
        <ion-card-title>Electoral México 2018</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Periodo: 2018
        descripción: Electoral
        Inicio:2019-03-21 00:00:00
        Fin: 2019-04-21 00:00:00
        Ganador: AMLO
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Eleccion</ion-card-subtitle>
        <ion-card-title>Electoral México 2012</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Periodo: 2012
        descripción: Electoral
        Inicio: 2012-03-21 00:00:00
        Fin: 2012-03-21 00:00:00
        Ganador: Enrique Peña Nieto
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Eleccion</ion-card-subtitle>
        <ion-card-title>Electoral México 2006</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Periodo: 2006
        descripción: Electoral
        Inicio: 2006-03-21 00:00:00
        Fin: 2006-03-21 00:00:00
        Ganador: Vicente Calderon
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Eleccion</ion-card-subtitle>
        <ion-card-title>Electoral México 2000</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Periodo: 2000
        descripción: Electoral
        Inicio: 2000-03-21 00:00:00
        Fin: 2000-05-21 00:00:00
        Ganador: Vicente Fox
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Eleccion</ion-card-subtitle>
        <ion-card-title>Electoral México 1994</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Periodo: 1994
        descripción: Electoral
        Inicio: 1994-03-21 00:00:00
        Fin: 1994-05-21 00:00:00
        Ganador: Ernesto Zedillo
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
