<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Elecciones Presidenciales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header class="ion-list-header">Consulta de resultados</ion-list-header>
  
    <ion-item>
      <ion-label>Aguascalientes</ion-label>
      <ion-select placeholder="Selecciona" okText="Okay" cancelText="Cancelar">
      <ion-select-option value="f">Morena 39.7%</ion-select-option>
      <ion-select-option value="m">PRI 18.5%</ion-select-option>
      <ion-select-option value="black">PAN 31.9%</ion-select-option>
      <ion-select-option value="m">Independiente 7.2%</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Baja California</ion-label>
      <ion-select placeholder="Selecciona" okText="Okay" cancelText="Cancelar">
      <ion-select-option value="brown">Morena 63.9%</ion-select-option>
      <ion-select-option value="black">PRI  8.6%</ion-select-option>
      <ion-select-option value="black">PAN  19.2%</ion-select-option>
      <ion-select-option value="black">Independiente  6.2%</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Jalisco</ion-label>
      <ion-select placeholder="Selecciona" okText="Okay" cancelText="Cancelar">
      <ion-select-option value="blonde">Morena  41.8%</ion-select-option>
      <ion-select-option value="black">PRI  14.5%</ion-select-option>
      <ion-select-option value="black">PAN  33.7%</ion-select-option>
      <ion-select-option value="black">Independiente  7.1%</ion-select-option>
      </ion-select>
    </ion-item>
</ion-list>

</ion-content>
